/Curso.class
/Departamento.class
/Discente.class
/Disciplina.class
/Docente.class
/Entrada.class
/Main.class
/OrientaGrad.class
/OrientaPos.class
/Orientacao.class
/ProducaoCientifica.class
/Saida.class
/Universidade.class
/bin/
